@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  background-color: var(--bs-secondary-bg);
}

.cs-bg {
  background-color: var(--bs-gray-200);
}

.offcanvas-backdrop.show {
  opacity: 0;
}
