@import "../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --cs-font-size: clamp(0.75rem, 0.3rem + 1vw, 0.8rem);
  & .card {
    --bs-card-title-color: var(--bs-body-color);
    --bs-card-subtitle-color: rgba(var(--bs-body-color-rgb), 0.75);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: var(--bs-body-color);
    --bs-card-height: auto;
    --bs-card-color: var(--bs-body-color);
  }
}

.cs-fs {
  font-size: var(--cs-font-size);
}

.offcanvas-backdrop.show {
  opacity: 0;
}
