.card {
  --cs-card-font-size: clamp(0.625rem, 0.4rem + 1vw, 0.875rem);
  --cs-card-title-font-size: clamp(0.875rem, 0.5rem + 1vw, 1.125rem);
  font-size: var(--cs-card-font-size);
}

.card-title {
  font-size: var(--cs-card-title-font-size);
}

.cart-subtitle {
  font-size: var(--cs-card-font-size);
}

.card-border {
  &::after {
    position: absolute;
    top: calc(-1 * var(--bs-card-border-width));
    right: calc(-1 * var(--bs-card-border-width));
    bottom: calc(-1 * var(--bs-card-border-width));
    left: calc(-1 * var(--bs-card-border-width));
    opacity: 0;
    z-index: 1;
    transition: opacity 0.15s ease-in-out;
    box-sizing: unset;
    box-shadow: var(--bs-box-shadow);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: calc(
      var(--bs-card-border-radius) + var(--bs-card-border-width)
    );
    pointer-events: none;
    content: "";
  }
  &:hover::after {
    opacity: 1;
  }
}

.card-img {
  aspect-ratio: 4 / 3;
}

@media (max-width: 991px) {
  .card-img {
    max-width: 20rem;
  }
}

.rating-star {
  font-size: 1.750em;
}
